<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="companyHost" value="gmail.com"/>
    <add key="hrMail" value="HR_HOLIDAYS"/>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="appUsername" value="testUser"/>
    <add key="appPassword" value="secretPassword"/>
  </appSettings>
</configuration>